<!-- <div class="card">
    <h4>View By One</h4>
    <div class="photo">
      <img src="https://i.postimg.cc/RC7C8nL0/finding-me.webp
      ">
    </div>
    <div class="description">
      <h6>Finding Me</h6>
      <p>In my book, you will meet a little girl named Viola <br> who ran from her past until she made a life changing decision <br>to stop running forever.This is my story..... </p>

    </div>
  </div> -->




<!-- Button trigger modal -->
<button type="button" class="bg-dark p-2 m-2"style="width: 110px; color: white; border-radius: 10px;" >
  ViewByOne
</button>
<!-- <div class="d-flex" style="justify-content: center;" *ngIf="successMessage">
  <button type="button" class="bg-dark p-2 m-2" style="width: 110px; color: white; border-radius: 10px;" routerLink="/home">Home Page</button>
  <button type="button" class="bg-dark p-2 m-2" style="width: 110px; color: white; border-radius: 10px;" routerLink="/view">View Page</button>
</div> -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book description</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
<div class="card">

    <div class="photo">
      <img src="https://i.postimg.cc/RC7C8nL0/finding-me.webp">

    </div>
    <div class="description">
      <h6>Finding Me</h6>
      <p>In my book, you will meet a little girl named Viola <br> who ran from her past until she made a life changing decision <br>to stop running forever.This is my story..... </p>

    </div>
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="bg-dark p-2 m-2" style="width: 110px; color: white; border-radius: 10px;" data-bs-dismiss="modal">Home</button>
        <!-- <button type="button" class="btn btn-primary">Home</button> -->
      </div>
    </div>
  </div>
</div>



