@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
* { box-sizing: border-box; }

body {
  
  background: #aedaa6;
  font-family: "Raleway";
  
  .card {
    
    width: 650px;
     height: 375px;
    position: absolute;
    background: white;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s;
    
    &:hover {
      
      box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    
    }
    
   
    }
    
    .photo {
      
      padding: 600px;
      width: 55%;
      text-align: center;
      float: left;
      
      img { 
        max-height: 340px; 
      }
      
    }
    
    .description {
      
       padding: 60px;
       float: left;
       width: 55%;
       border-left: 2px solid #efefef;
       
       h1 {
         color: #515151;
         font-weight: 300;
         padding-top: 15px;
         margin: 0;
         font-size: 30px;
         font-weight: 300;
       }
     
       h2 {
        color: #515151;
        margin: 0;
        text-transform: uppercase;
        font-weight: 500;
       }
      
      
       p { 
         font-size: 30px; 
         line-height: 10px;
         color: #727272;
         padding: 20px 0;
         margin: 0;
      }
     
        }
    }

    img{
     position: relative;
     left: 160px;
     top: 5px;
    }  
    
p{
text-align: center;
} 

   h4{
    text-align: center;
   }
   h6{
    text-align:center ;
    position: relative;
    top: 5px;
   } 
  
  
