<!-- <div class="card">
    <h4>View By One</h4>
    <div class="photo">
      <img src="https://i.postimg.cc/RC7C8nL0/finding-me.webp
      ">
    </div>
    <div class="description">
      <h6>Finding Me</h6>
      <p>In my book, you will meet a little girl named Viola <br> who ran from her past until she made a life changing decision <br>to stop running forever.This is my story..... </p>
     
    </div>
  </div> -->


  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title">Modal title</h5> -->
           </div>
        <div class="modal-body">
          <div class="card">
            <h4>View By One</h4>
            <div class="photo">
              <img src="https://i.postimg.cc/RC7C8nL0/finding-me.webp
              ">
            </div>
            <div class="description">
              <h6>Finding Me</h6>
              <p>In my book, you will meet a little girl named Viola <br> who ran from her past until she made a life changing decision <br>to stop running forever.This is my story..... </p>
             
            </div>
          </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">home</button>
        </div>
      </div>
    </div>
  </div>