<div class="wrapper">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex flex-column">
            <div class="h3">View Books</div>
            <div class="text-uppercase">6 sublists</div>
        </div>
        <div class="ml-auto btn"><span class="fas fa-cog"></span></div>
        <div class="btn" id="sub">
            + Add sublist
        </div>
    </div>

    <div class="notification alert alert-dismissible fade show text-white bg-dark d-flex align-items-center my-3 text-justify"
        role="alert">
        <span class="far fa-bell pr-2"></span>
        You've got 6 books new items on your list

    </div>
    
    <div id="table" class="bg-white rounded">
        <div class="d-md-flex align-items-md-center px-3 pt-3">
            <div class="d-flex flex-column">
                <div class="h4 font-weight-bold">Book List</div>
                <div class="text-muted">6 items</div>
            </div>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table activitites">
                <thead>
                    <tr>
                        <th scope="col" class="text-uppercase header">Book name</th>
                        <th scope="col" class="text-uppercase">Author</th>
                        <th scope="col" class="text-uppercase">selling price</th>
                        <th scope="col" class="text-uppercase">description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books">
                        <td class="item">
                            <div class="d-flex align-items-start">
                                <img [src]="book.image" alt="" class="bookimg m-3">
                                <div>
                                    {{book.bookName}}
                                    <div class="text-uppercase new"><span class="fas fa-star"></span>new</div>
                                    <div>
                                        <a href="#">
                                            <span class="red text-uppercase">
                                                <span class="fas fa-comment pr-1"></span>
                                                Update Book
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            {{book.author}}
                        </td>
                        <td>
                            {{book.sellingPrice}}
                        </td>
                        <td>{{book.description}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>