<div class="container">
  <div class="row justify-content-between" >
      <div class="col-4 mt-3"  id="cardfeature" *ngFor="let book of books">
        <div class="card" style="width: 18rem;" >
          <img [src]="book.image" class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body" style="display: flex; justify-content: center;">
            <button type="button" (click)="onSelect(book)" data-bs-toggle="modal" data-bs-target="#exampleModal" style="border: none;  background-color: lightblue;">

              <h5 class="card-title">{{book.bookName}}</h5>
            </button>
          </div>
        </div>
      </div>
  </div>
</div>

  <div class="modal fade" id="exampleModal"*ngIf="select">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book description</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
  <div class="card">

      <div class="photo" >
        <img [src]="select.image">

      </div>
      <div class="description">
        <h6>{{select.bookName}}</h6>
        <p>{{select.description}}</p>

      </div>
    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="bg-dark p-2 m-2" style="width: 110px; color: white; border-radius: 10px;" data-bs-dismiss="modal">Home</button>
          <!-- <button type="button" class="btn btn-primary">Home</button> -->
        </div>
      </div>
    </div>
  </div>




