
<html>
    <h2>ADD BOOK</h2>

    <form  >
     <tr>
      <td> Book Name:</td>
      <td> <input type="text" name="book name" size="48"#bookName> </td>
    </tr>
    <tr>
      <td>  Author :</td>
      <td> <input type="text" name="author" size="48"#author> </td>
    </tr>
    <tr>
      <td> Selling Price :</td>
      <td> <input type="text" name="selling price" size="48"#sellingPrice> </td>
     </tr>
     <tr>
        <td> Description: </td>
        <td> <input type="text" name="Description" size="48"#description> </td>
     </tr>
     <tr>
      <td> Image:</td>
      <td> <input type="text" name="Image" size="48"#image> </td>
     </tr>
     <tr>
      <td></td>
      <td>
       <input type="button" value="submit"(click)="createBook(bookName.value, author.value, sellingPrice.value, description.value, image.value)">
       <input type="reset" value="Reset">
      </td>
      </tr>
    </form>
</html>
