
<html>

<!-- <body bgcolor="87ceeb"> -->

    <h2 class="title-add">ADD BOOK</h2>

    <!--Once the form is submitted, all the form data is forwarded to InsertBooks.php -->

    <form action="InsertBooks.php" method="post">

        <!-- <table border="2" align="center" cellpadding="5" cellspacing="5"> -->
            <tr>

            <td> Book Name</td>

            <td> <input type="text" name="book name" size="48"#bookName class="books"> </td>

            </tr>


            <tr>

            <td>  Author </td>

            <td> <input type="text" name="author" size="48"#author class="auth"> </td>

            </tr>

            <tr>

            <td> Selling Price </td>

            <td> <input type="text" name="selling price" size="48"#sellingPrice class="auth"> </td>

            </tr>



            <tr>

            <td> Description </td>

            <td> <input type="text" name="Description" size="48"#description class="de"> </td>

            </tr>


            <tr>

                <td> Image</td>
    
                <td> <input type="text" name="Image" size="48"#image class="name"> </td>
    
            </tr>
            <tr>

            <td></td>

            <td>

            <input type="button"  class="button"  value="submit"(click)="createBook(bookName.value, author.value, sellingPrice.value, description.value, image.value)">

            <input type="reset" value="Reset" class="buttonone">

            </td>
            </tr>

        <!-- </table> -->

    </form>

<!-- n -->

</html>
