@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
body{
    background-color: #f4f4f4;
}
#exampleModal {
    background: transparent;
    background-color: transparent;
}
.wrapper{
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}
.h3{
    margin-bottom: 0;
}
div.text-uppercase{
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}
.h-vh-2{
    height: 500px;
}
.btn#sub{
    font-size: 0.8rem;
    font-weight: 700;
    border: 1px solid #ddd;
}
.btn#sub:hover{
    background-color: #333;
    color: #FFF;
    border: 1ps solid #333;
}
.fa-cog{
    color: #a8a8a8;
    font-size: 0.8rem;
}
.ml-auto.btn:hover span{
    color: #333;
}
div.btn{
    padding: 8px 20px;
}
.notification{
    background-color: #222422;
    padding: 0px 10px;
}
.notification button.btn{
    background-color: inherit;
    box-shadow: none;
}
.close{
    font-size: 1rem;
    font-weight: normal;
    opacity: 1;
}
.close:hover{
    color: #EEE;
}
.alert-dismissible .close{
    position: unset;
}
button:focus{
    outline: none;
}
.h4{
    margin: 0;
}
.editors{
    position: relative;
}
.editors img{
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #FFF;
}
#img1,#img2,#img3{
    position: absolute;
}
#img1{
    top: -15px;
    left: -50px;
}
#img2{
    top: -15px;
    left: -70px;
}
#img3{
    top: -15px;
    left: -90px;
}
div.text-muted{
    font-size: 0.9rem;
}
.table{
    overflow: hidden;
}
.table thead tr th{
    letter-spacing: 0.08rem;
    font-weight: normal;
}
.table tr td,
.table tr th{
    border: none;
    text-align: center;
}
.table.activitites thead{
    border-bottom: 1px solid #0d0e0d;
    font-size: 0.8rem;
    font-weight: 700;
}
.table thead{
    font-size: 0.8rem;
    font-weight: 700;
}
.table.activitites{
    position: relative;
}
.table.activitites thead::after{
    position: absolute;
    background: #FFF;
    padding: 0px 8px;
    top: 38px;
    letter-spacing: 0.08rem;
    font-size: 0.6rem;
    color: #151615;
    font-weight: 600;
}
.table tbody td.item{

    font-size: 1.2rem;
    font-weight: 900;
    text-align: left;
}
del{
    font-size: 0.85rem;
}
.red{
    color: grey;
}
div.new{
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 0.08rem;
    background-color: lightblue;
    color: #363a36;
    display: inline-block;
}
.table tbody td.item img{
    width: 50% !important;

 height: 30%;
    /* object-fit: contain; */
}
.table thead th.header{
    text-align: left;
}
.table tbody tr{
    padding-top: 10px;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    transition: all .4s ease-in-out;
}
.table tbody tr:last-child{
    border: none;
}
td .close,
td .btn{
    opacity: 0;
    background: #fff;
    font-weight: 600;
    font-size: 0.9rem;
}
.table tbody tr:hover{
    transform: scale(1.004);
    box-shadow: 2px 2px 10px #a5a5a5;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: unset;
}
.table tbody tr:hover .close{
    font-size: 1.5rem;
    opacity: 1;
}
.table tbody tr:hover .close:hover{
    color: #aaa;
}
.table tbody tr:hover .btn{
    border: 1px solid #ddd;
    opacity: 1;
    background: #fff;
}
a{
    font-size: 0.8rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    visibility: hidden;
}
a:hover{
    text-decoration: none;
}
.table tbody tr:hover a{
    visibility: visible;
}
#commentor2,#commentor3{
    position: absolute;
    object-fit: cover;
}
#commentor1{
    object-fit: cover;
}

#commentor2{
    top: 2px;
    left: 20px;
}
#commentor3{
    top: 2px;
    left: 35px;
}
.comments{
    visibility: visible;
}
hr.items{
    position: relative;
    margin: 0;
    margin-top: 10px;
}
hr.items:after{
    position: absolute;
    content: "ALL ITEMS";
    background: #FFF;
    top: -9px;
    padding: 0px 8px;
    letter-spacing: 0.08rem;
    font-size: 0.6rem;
    font-weight: 600;
}
.subtotal{
    border-bottom-left-radius: 50px;
    background-color: #ccc;
}
.tag,.fa-shoppping-cart{
    font-size: 0.5rem;
}
button.btn{
    background-color: inherit;
}
button.btn:hover{
    background-color: #cecccc;
    box-shadow: none;
    outline: none;
}


@media(max-width:760px){
    .table.activitites thead::after{
        top: 35px;
    }
}
@media(max-width:800px){
    .table.activitites thead::after{
        top: 200px;
    }
    #img1{
        top: -80px;
        left: 40px;
    }
    #img2{
        top: -8px;
        left: 15px;
    }
    #img3{
        top: -8px;
        left: 30px;
    }
    .editors img{
        width: 20px;
        height: 20px;
        border: 1px solid #FFF;
    }
}
@media(max-width:400px){
    .notification{
        font-size: 0.7rem;
    }
    .close{
        font-size: 0.7rem;
        font-weight: normal;
        opacity: 1;
    }
    .wrapper{
        padding: 10px;
    }
}

.sty{
  display: flex;
justify-content: center;

}


/*  */

/* ==========================================================================
   #FONT
   ========================================================================== */
   .font-robo {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  }

  /* ==========================================================================
     #GRID
     ========================================================================== */
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .col-2 {
    width: -webkit-calc((100% - 60px) / 2);
    width: -moz-calc((100% - 60px) / 2);
    width: calc((100% - 60px) / 2);
  }

  @media (max-width: 767px) {
    .col-2 {
      width: 100%;
    }
  }

  /* ==========================================================================
     #FORM
     ========================================================================== */
  input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
  }

  .input-group {
    position: relative;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
  }

  .input-icon {
    position: absolute;
    font-size: 18px;
    color: #ccc;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
  }

  .input--style-1 {
    padding: 9px 0;
    color: #666;
  }

  .input--style-1::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #555;
  }

  .input--style-1:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #555;
    opacity: 1;
  }

  .input--style-1::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #555;
    opacity: 1;
  }

  .input--style-1:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #555;
  }

  .input--style-1:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #555;
  }

  /* ==========================================================================
     #SELECT2
     ========================================================================== */
  .select--no-search .select2-search {
    display: none !important;
  }

  .rs-select2 .select2-container {
    width: 100% !important;
    outline: none;
  }

  .rs-select2 .select2-container .select2-selection--single {
    outline: none;
    border: none;
    height: 34px;
  }

  .rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
    padding-left: 0;
    color: #555;
  }

  .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
    height: 32px;
    right: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
 /* .m{
  margin-right: 20px;
 } */
  .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
    display: none;
  }

  .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
    font-family: "Material-Design-Iconic-Font";
    content: '\f2f9';
    font-size: 18px;
    color: #ccc;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  .select2-container--open .select2-dropdown--below {
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #e0e0e0;
    margin-top: 5px;
    overflow: hidden;
  }

  /* ==========================================================================
     #TITLE
     ========================================================================== */
  .title {
    margin-bottom: 37px;
  }

  /* ==========================================================================
     #CARD
     ========================================================================== */
  .card {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
  }

  .card-1 {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    height: 400px;
  }

  .card-1 .card-heading {
    /* background: url("../images/bg-head-02.jpg") center center/cover no-repeat; */
    padding-top: 20px;
  }

  .card-1 .card-body {
    padding: 0 90px;

  }
  .modal-body{
    padding: 0px;
    margin: 0px;
    /* height: 500px; */
  }
  @media (max-width: 767px) {
    .card-1 .card-body {
      padding: 0 40px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
