
<div class="wrapper">
  <div class="logo">
      <!-- <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt=""> -->
  </div>
  <div class="text-center mt-4 name">

  </div>
  <form class="p-3 mt-3">
      <div class="form-field d-flex align-items-center">
          <span class="far fa-user"></span>
          <input type="text" name="userName" id="userName" placeholder="Username"#username>
      </div>
      <div class="form-field d-flex align-items-center">
        <span class="far fa-user"></span>
        <input type="text" name="userName" id="pwd" placeholder="Password"#password>
    </div>

    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="password" name="userName" id="re-pwd" placeholder="Re-password"#repassword>
    </div>

      <button type="button" class="btn mt-3" (click)="register(username.value,password.value,repassword.value) ">Login</button>
  </form>
  <div class="text-center fs-6">
      <a href="#">Forget password?</a> or <a href="#">Sign up</a>
  </div>
</div>

